The following packages are needed.

1. snscrape== 'pip install snscrape'    (Used for Scraping data)
2. pandas== 'pip install pandas'        (Used for Data frame after scraping)
3. pymongo== 'pip install pymongo'      (To store the data in data base)
4. dnspython== 'pip install dnspython'  (To download data in csv format)
5. streamlit== 'pip install streamlit'  (to Run streamlit app)